.outerBoxs {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  margin: 7%;
}
.loginBox {
  width : 50%;
  font-style: oblique;
  border: 1px solid rgb(255, 255, 255);
  text-align: left;
  padding: 5px;
  margin-right: 10%;
}
.text
{
  margin-left: 5%;
}
.register {
    width: 50%;
}
@media (max-width: 750px) {
  .outerBoxs {
    display: flex;
    flex-direction: column;
  }
  .loginBox {
    width:100%;
    align-content: center;
    justify-self:center;
  }
  .register
  {
    width: 100%;
    align-content: center;
    justify-self: center;
  }
}