.product-card {
  display: flex;
  padding: 16px;
  width: 60%;
  margin: 10px auto;
}

.product-image {
  width: 90%;
  height: 450px;
  margin-right: 20px;
  object-fit: contain;
}

.product-details {
  width: 400px;
}

.product-title {
  font-size: 1.3rem;
  margin-bottom: 8px;
  font-weight: 200;
}

.product-price {
  font-size: 0.95rem;
  font-weight: bold;
}

.product-color {
  font-size: 1rem;
  margin-top: 4px;
  font-weight: 100;
}

.product-rating {
  font-size: 1rem;
  margin-top: 4px;
}

.product-category {
  font-size: 1rem;
  margin-top: 4px;
}

.product-description {
  font-size: 1rem;
  margin-top: 8px;
}

.text {
  font-size: 0.9rem;
  font-weight: 100;
}

.star-rating {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.star {
  color: gold;
  margin-right: 4px;
}

.empty {
  color: #ccc;
}
@media (max-width:750px)
{
  .product-card {
  display: flex;
  flex-direction: column;

  }
  .product-image{
    display: inline;
    width: 80%;
  }
}