.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
}
.con{
  color: white;
  font-size: 80px;
}
button{
  border-style: solid;
  border-color: black;
}